<mat-toolbar>
    <span class="title">New Tuition</span>
</mat-toolbar>
<div class="container">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card mat-elevation-z8">
                    <div class="card-header">
                        Enter the new tuition information
                    </div>
                    <div class="card-body">
                        <form [formGroup]='tuitionForm' (ngSubmit)='onSubmit()'>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Student Number</mat-label>
                                        <input matInput type="text" formControlName="studentNumber" (keydown.Tab)="onTabPress($event)">
                                        <mat-error *ngIf="tuitionForm.hasError">Please provide the student number!</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Name</mat-label>
                                        <input matInput type="text" formControlName="name" value="{{student?.name}}">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput type="text" formControlName="lastName" value="{{student?.lastName}}">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Reference Month</mat-label>
                                        <mat-select formControlName="referenceMonth">
                                            <mat-option value="{{month}}" *ngFor="let month of months">{{month}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="tuitionForm.hasError">Ref Month is required!</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>€ Amount</mat-label>
                                        <input matInput currencyMask formControlName="amount">
                                        <mat-error *ngIf="tuitionForm.hasError">Please provide the tuition value!</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <button type='submit' [disabled]='!tuitionForm.valid' class="form-control btn btn-danger">Save</button>
                                </div>
                                <div class="col-md-2">
                                    <button (click)="cancel()" class="form-control btn btn-dark">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>