<mat-toolbar>
    <span class="title">Tuition Information</span>
</mat-toolbar>
<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 btn-new">
                <button type='submit' routerLink="/tuition-new" class="form-control btn btn-red">New Tuition</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mat-elevation-z8">
                    <div class="card-header">
                        Tuition List
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource">

                                <ng-container matColumnDef="studentNumber">
                                    <th mat-header-cell *matHeaderCellDef> Student Number </th>
                                    <td mat-cell *matCellDef="let element"> {{element.studentNumber}} </td>
                                </ng-container>
                                <ng-container matColumnDef="transactionDate">
                                    <th mat-header-cell *matHeaderCellDef> Payment Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.transactionDate | date: 'MMM d, y, h:mm a'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="amount">
                                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                                    <td mat-cell *matCellDef="let element"> {{element.amount | currency:'EUR'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="referenceMonth">
                                    <th mat-header-cell *matHeaderCellDef> Ref Month </th>
                                    <td mat-cell *matCellDef="let element"> {{element.referenceMonth}} </td>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let element">
                                        <a routerLink="/tuition-new/{{element.id}}">
                                            <i class="material-icons update-icon">
                                                edit
                                            </i>
                                        </a>
                                        <a class="material-icons" routerLink="/confirm-delete/{{element.id}}/tuition">
                                            <i class="material-icons delete-icon">
                                                delete
                                            </i>
                                        </a>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <mat-paginator #paginator [length]="length" (page)="pageChangeEvent($event)" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons aria-label="Select page of periodic elements">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>