<div id="notfound">
    <img class="gblogo" src="../../../assets/img/footer-bg.png" alt="logo">
    <div class="notfound">
        <div class="notfound-404">
            <h1><span>4</span><span>0</span><span>1</span></h1>
        </div>
        <h2>You are not authorized to access this page</h2>
        <h3>
            <a class="nav-link" routerLink="/">
                <i class="material-icons white-icon">
                    lock_person
                </i>
                <span class="white-icon">Return to Initial Page Here</span>
            </a>

        </h3>
    </div>
</div>