@import "~@fortawesome/fontawesome-free/css/all.css";

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {
    &.snack-error {
        --mdc-snackbar-container-color: #c82828;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}

.mat-mdc-snack-bar-container {
    &.snack-success {
        --mdc-snackbar-container-color: #008000;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
}

.delete-icon {
    color: #c82828;
}

.update-icon {
    color: #343a40;
}